@font-face {
  font-family: 'DTM-Mono';
  src: url('/fonts/DTM-Mono.otf') format('truetype');
}

*,
::after,
::before {
  --black: rgb(0, 0, 0);
  --black-transparent: rgba(0, 0, 0, 0.6);
  --red: rgb(255, 0, 0);
  --bgcolor: rgb(0, 0, 0);
  --bgcolor-2: rgba(0, 0, 0, 0.6);
  --blue: rgb(0, 184, 255);
  --dt: rgb(255, 0, 0);
  --patience: rgb(65, 252, 255);
  --bravery: rgb(252, 165, 0);
  --integ: rgb(0, 100, 255);
  --pers: rgb(213, 53, 217);
  --kindness: rgb(0, 192, 0);
  --justice: rgb(255, 255, 0);
  --border: rgb(255, 255, 255);
  --font: rgb(255, 255, 255);
  --opponent: rgba(153, 4, 4, 0.774);
  --player: rgba(0, 84, 145, 0.692);
  --copper: rgb(210, 105, 30);
  --iron: rgb(185, 185, 185);
  --gold: rgb(255, 228, 85);
  --emerald: rgb(0, 202, 120);
  --sapphire: rgb(31, 55, 255);
  --ruby: rgb(255, 3, 3);
  --diamond: rgb(0, 206, 210);
  --amethyst: rgb(255, 0, 255);
  --onyx: rgb(61, 31, 141);
  --master: rgb(255, 177, 0);
}

body {
  text-align: center;
}

header {
  padding: 5px;
  border: 1px solid var(--border);
  border-radius: 5px;
}

h1 {
  margin: 0;
}

section {
  padding: 5px;
  border: 1px solid var(--border);
  margin: 5px;
  margin-bottom: 10px;
}

a, a:visited {
  color: inherit;
}

body:not(.authed) .authed,
body.authed .unauthed,
.hidden { display: none; }

.show { display: unset; }
.bold { font-weight: bold; }
.underlined { text-decoration: underline; }
.green { color: rgb(102, 204, 0); }
.red { color: rgb(255, 0, 0); }
.yellow { color: rgb(255, 215, 0); }
.blue { color: rgb(0, 184, 255); }

.user[data-level]::after {
  content: ' LV ' attr(data-level);
  color: var(--blue);
}

.DETERMINATION, [data-soul='DETERMINATION'] { color: var(--dt); }
.PATIENCE, [data-soul='PATIENCE'] { color: var(--patience); }
.BRAVERY, [data-soul='BRAVERY'] { color: var(--bravery); }
.INTEGRITY, [data-soul='INTEGRITY'] { color: var(--integ); }
.PERSEVERANCE, [data-soul='PERSEVERANCE'] { color: var(--pers); }
.KINDNESS, [data-soul='KINDNESS'] { color: var(--kindness); }
.JUSTICE, [data-soul='JUSTICE'] { color: var(--justice); }

.LEGENDARY { color: rgb(255, 215, 0); }
.EPIC { color: var(--pers); }
.RARE { color: var(--blue); }
.COMMON { color: var(--font); }
.BASE { color: rgb(128, 128, 128); }
.GENERATED, .TOKEN { color: rgb(0, 200, 0); }

.user-info .name,
.user {
  align-items: center;
  background-color: var(--bgcolor-2);
  border-radius: 5px;
  display: inline-flex;
  padding: 2px 5px;
  word-break: break-word;
}
[data-soul]::before {
  --size: 20px;
  content: '';
  background-size: var(--size);
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
}
.user[data-soul]::before {
  --size: 12px;
}
[data-soul='DETERMINATION']::before { background-image: url(/images/souls/DETERMINATION.png); }
[data-soul='PATIENCE']::before { background-image: url(/images/souls/PATIENCE.png); }
[data-soul='BRAVERY']::before { background-image: url(/images/souls/BRAVERY.png); }
[data-soul='INTEGRITY']::before { background-image: url(/images/souls/INTEGRITY.png); }
[data-soul='PERSEVERANCE']::before { background-image: url(/images/souls/PERSEVERANCE.png); }
[data-soul='KINDNESS']::before { background-image: url(/images/souls/KINDNESS.png); }
[data-soul='JUSTICE']::before { background-image: url(/images/souls/JUSTICE.png); }
